.overview-icon {
    height: 2rem;
    width: 2rem;
    cursor: pointer;
}

.overview-description {
    display: flex;
}
.small-container {
    display: flex;
    align-items: center;
}
.Low {
    background-color: rgb(3, 255, 3, 0.5);
}
.Medium {
    background-color: rgba(232, 207, 18, 0.5);
}
.High {
    background-color: rgb(255, 0, 0, 0.5);
}