#overview-page {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

#overview-page > div {
    background-color: rgb(132, 213, 186, 0.2);
    border: 1px solid darkblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 1rem;
}

.list-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 0.5rem;
}


.overview-icon {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.overview-description {
    display: flex;
}
.small-container {
    display: flex;
    align-items: center;
}
.Low {
    background-color: rgb(3, 255, 3, 0.5);
}
.Medium {
    background-color: rgba(232, 207, 18, 0.5);
}
.High {
    background-color: rgb(255, 0, 0, 0.5);
}