
#overview-page {
    display: grid;
    grid-template-areas:    'details details'
                            'notes risks';
}
#overview-page > div {
    background-color: rgb(132, 213, 186, 0.2);   
}
h2 {
    color: rgb(6, 7, 6);
    /* text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000; */
}
#overview-container {
    grid-area: details;
    display: flex;
    flex-direction: row;
    grid-gap: 10%;
    background: linear-gradient(to left, rgb(16, 194, 253, 0.5), rgb(7, 248, 7, 0.5), rgb(202, 255, 12, 0.5));
    color: white;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.2rem;  
}


.small-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.list-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    grid-gap: 0.5rem;
}
.list-container > span {
    font-size: 1.5rem;
}

.overview-icon {
    height: 1.5rem;
    width: 1.5rem;
    cursor: pointer;
}

.overview-description {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.small-container {
    display: flex;
    align-items: center;
}
.Low {
    color: rgb(17, 159, 17);
}
.Medium {
    color: rgba(232, 207, 18);
}
.High {
    color: rgb(255, 0, 0);
}

#remove-stock {
    cursor: pointer;
}