html {
  padding: 0;
	margin: 0;
	box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-columns: 1fr 9fr;

}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
li + .nav-item {
	margin: 0;
	padding: 1rem 0;
	border-bottom: 1px solid #ccc;
  list-style: none;
}
textarea {
  resize: none;
}
/* form {
  display: flex;
  flex-direction: column;
  
} */

